{% extends "base.html" %}

{% block content %}
    <section class="sectco d-flex flex-column text-center clearfix font-weight-normal">
        <form method="POST" action="{{ url_for("page_connexion") }}">
            {{ form.hidden_tag() }}
            <div class="seconnecter">
                <img class="img-fluid" src="{{ url_for('static', filename='images/seconnecter.png') }}" alt="img_connect">
            </div>
            <hr class="ligneGaucheConnecter">
            <h1 class="seconnecter">Se connecter</h1>
            <div class="form-group">
                <div class="form-group-id d-flex justify-content-center">
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg", placeholder="Pseudonyme") }}
                    {% endif %}
                </div>
                <div class="form-group-mdp d-flex justify-content-center">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder="Mot de passe") }}
                    {% endif %}
                </div>
                <div class="form-group d-flex justify-content-center text-center">
                    {{ form.submit(class="btn btnseco") }}
                </div>
                <button class="btnmdpo btn-outline-dark text-center" ><a href="{{ url_for('page_mdp_oublie') }}">Mot de passe oublié ?</a></button>
                <button class="btnnoaccount text-center"><a href="{{ url_for('page_inscription') }}">Vous n'avez pas de compte ?</button>
            </div>
        </form>
        <hr class="ligneDroiteConnecter">
    </section>
{% endblock %}
