{% extends 'base.html' %}
{% block content %}

<div class="accordion_bk">
<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">
        {% for keys,values in questions.items() %}
        <h4>{{keys}}</h4>
        {% for question in values %}
        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">{{question[0]}}</a></h6>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">{{question[1]}}</p>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
{%endfor%}
{%endfor%}

{% endblock %}