{% extends "base.html" %}
{% block content %}
    <h1 class="titreRoles">Gestion des rôles</h1>
    <div class="liste_roles">
        {% for role in roles %}
        <li class="element_role">
            <button class="btn btn-outline-info" onclick="actualiser_droit_frame({{ role.id_role }})">
               Actualiser le rôle {{ role.nom_role }}
            </button>
        </li>
        {% endfor %}
    </div>
    {% if id_role_pre_selectione!=None %}
        <iframe id="iframe_droit" class="iframe_droit"
            src="{{ url_for("page_droits", id_role=id_role_pre_selectione) }}" width="1000"
            height="600">
        </iframe>
    {% endif %}
    <script src="{{ url_for('static', filename='js/role_droit_frame.js') }}">
    </script>


{% endblock %}