<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data-1970-2030.js') }}"></script>
</head>
<body>
    <div class="ml-5" id="container">
        <script>
            Highcharts.setOptions({
                time: {
                    timezone: 'Europe/Paris'
                }
            });
            var chart1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'spline',
                    startOnTick: false,
                    endOnTick: false
                },
                title:{
                    text: '{{ titre_graphique }}'
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        format: '{value:%d-%m-%y<br>%H:%M}'
                    }
                },
                yAxis: [
                     {% set dico_grandeur = dict() %}
                     {% set increment = namespace(value=0) %}
                     {% for id_capteur,donnees in dico_donnees.items() %}
                         {% if donnees|length > 0 %}
                             {% if donnees[0].nom_donnee not in dico_grandeur %}
                                 {
                                    labels: {
                                      format: '{value} {{ donnees[0].unite_donnee }}',
                                      style: {
                                        color: Highcharts.getOptions().colors[{{ loop.index0 % 10 }}]
                                      }
                                    },
                                    title: {
                                      text: '{{ donnees[0].nom_donnee }}',
                                      style: {
                                        color: Highcharts.getOptions().colors[{{ loop.index0 % 10 }}]
                                      }
                                    },
                                 {% if increment.value % 2 == 1  %}
                                 opposite: true
                                 {% endif %}
                                 } ,
                                 {% do dico_grandeur.update({donnees[0].nom_donnee: increment.value}) %}
                                 {% set increment.value = increment.value + 1 %}
                             {% endif %}
                         {% endif %}
                     {% endfor %}
                  ],
                 tooltip: {
                    shared: true
                 },
                series: [
                    {% for id_capteur,donnees in dico_donnees.items() %}
                        {% if donnees|length > 0 %}
                        {
                        name: '{{ donnees[donnees|length-1] }} ({{ donnees[0].nom_donnee }})',
                            yAxis: {{ dico_grandeur.get(donnees[0].nom_donnee) }},
                        data:
                            [{% for donnee in donnees %}
                                {% if donnee is not string %}
                                    [new Date('{{ donnee.date_donnee }}').getTime(), {{ donnee.val_donnee|tojson }}]{% if loop.index != donnees|length %},{% endif %}
                                {% endif %}
                            {% endfor %}]
                        },
                        {% endif %}

                    {% endfor %}

                  ]
            });
        </script>

    </div>
</body>
</html>
