{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <div class="content-section-x ">
            <div class="burger-nav float-left">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <h6 class="text-white">Ma liste de Groupes</h6>
                        <ul class="text-white">
                            {% for groupe, capteurs in dico_groupe_capteurs.items() %}
                                <a class="avertclair" href="{{ url_for('page_groupes') }}?{{ groupe.id_groupe }}&">{{ groupe.nom_groupe }}</a>
                                <ul>
                                    {% for capteur in capteurs %}
                                        <li class="lisanspuce">{{ capteur.nom_capteur }}
                                            <ul>
                                                <li>Quelques infos</li>
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                        <span class="text-muted">Ici sont listés vos groupes de capteurs pour un accès rapide</span>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
            <h1 class="Bienvenue text-center">Bienvenue {{ current_user.pseudo_utilisateur }}</h1>
            <hr class="traitaccueil"></hr>
            <div class="navtest">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher Capteur">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                </nav>
            </div>
            <div class="divgroup">
                <iframe id="iframe_map-accueil" class="map"
                        src="{{ url_for("page_map_capteur", pseudo_utilisateur=current_user.get_id()) }}?" width="600"
                        height="600"></iframe>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text d-flex flex-column">
                        <h3>Options de tri</h3>
                        <form method="POST" action="{{ url_for("page_analyse_comparateur") }}">
                            {{ form_comparer.csrf_token }}
                            <ul>
                                {% for groupe, capteurs in dico_groupe_capteurs.items() %}
                                    <div class="d-flex flex-row">
                                        <p>{{ groupe.nom_groupe }}</p>
                                    </div>
                                    <ul>
                                        {% for capteur in capteurs %}
                                            <li class="d-flex flex-row">
                                                {% if capteur.coche %}
                                                    <input type="checkbox"
                                                           onclick="actualiser_map('{{ capteur.id_capteur }}')"
                                                           id={{ capteur.id_capteur }} name="checklist_capteur"
                                                           value={{ capteur.id_capteur }} checked>
                                                {% else %}
                                                    <input type="checkbox"
                                                           onclick="actualiser_map('{{ capteur.id_capteur }}')"
                                                           id={{ capteur.id_capteur }} name="checklist_capteur"
                                                           value={{ capteur.id_capteur }}>
                                                {% endif %}
                                                <p>{{ capteur.nom_capteur }}</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </ul>
                            {{ form_comparer.submit(class="btn btn-success") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/map.js') }}">
        </script>
    {% else %}
        <div class="imageblé">
            <img class="img-fluid d-flex flex-row flex-wrap" src="{{ url_for('static', filename='images/blé.jpg') }}"
                 alt="champs">
        </div>
        <section class='bandeau'>
            <div class="texteT">
                <p>Nous vous proposons un service de récolte, d’affichage et d’analyse de données bio-physiques issues
                    des capteurs de votre choix.<br><br>Vous pouvez relier vos capteurs à notre interface web ou faire
                    appel à nos techniciens qui installeront ceux que vous souhaitez dans vos locaux.</br>Une question ?
                    Visitez notre FAQ ou <span style="text-decoration: underline;">contactez nous</span></p>
            </div>
            <div class="div-humain">
                <img class="humain" src="{{ url_for('static', filename='images/humainAccueil.png') }}"
                     alt="humainAccueil">
            </div>
        </section>
        <div class='banniere'>
            <section class="pricing-table">
                <div class="container">
                    <div class="block-heading">
                        <h2>Nos offres</h2>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-5 col-lg-4">
                            <div class="item">
                                <div class="heading">
                                    <h3>BASIQUE</h3>
                                </div>
                                <p>Accès à notre site avec vos propres capteurs.</p>
                                <div class="features">
                                    <h4 class="oui">
                                        <span class="feature">Site</span> :
                                        <img class="oui1" src="{{ url_for('static', filename='images/yes.png') }}"
                                             alt="">
                                    </h4>
                                    <h4 class="non">
                                        <span class="feature">Location capteurs</span> :
                                        <img class="non1" src="{{ url_for('static', filename='images/no.png') }}"
                                             alt="">
                                    </h4>
                                    <h4 class="non">
                                        <span class="feature">Installation</span> :
                                        <img class="non2" src="{{ url_for('static', filename='images/no.png') }}"
                                             alt="">
                                    </h4>
                                    <h4 class="non">
                                        <span class="feature">Maintenance</span> :
                                        <img class="non3" src="{{ url_for('static', filename='images/no.png') }}"
                                             alt="">
                                    </h4>
                                </div>
                                <div class="price">
                                    <h4>À partir de 11 €</h4>
                                </div>
                                <button class="btn btn-block btn-outline-primary" type="submit">En savoir plus</button>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4">
                            <div class="item2">
                                <div class="ribbon">Meilleure offre</div>
                                <div class="heading">
                                    <h3>LOCATION</h3>
                                </div>
                                <p>Accès au site avec locations de nos capteurs.</p>
                                <div class="features">
                                    <h4 class="oui">
                                        <span class="feature">Site</span> :
                                        <img class="oui2" src="{{ url_for('static', filename='images/yes.png') }}"
                                             alt="">
                                    </h4>
                                    <h4 class="oui">
                                        <span class="feature">Location capteurs</span> :
                                        <img class="oui3" src="{{ url_for('static', filename='images/yes.png') }}"
                                             alt="">
                                    </h4>
                                    <h4 class="oui">
                                        <span class="feature">Installation</span> :
                                        <img class="oui4" src="{{ url_for('static', filename='images/yes.png') }}"
                                             alt="">
                                    </h4>
                                    <h4 class="oui">
                                        <span class="feature">Maintenance</span> :
                                        <img class="oui5" src="{{ url_for('static', filename='images/yes.png') }}"
                                             alt="">
                                    </h4>
                                </div>
                                <div class="price">
                                    <h4>À partir de 30 €</h4>
                                </div>
                                <button class="btn btn-block btn-primary" type="submit">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}