{% extends "base.html" %}

{% block content %}
    <section class="sectmdpo d-flex flex-column text-center clearfix font-weight-normal">
        <form method="POST">
        <h1 class="titreRecupMdp">Récupération du mot de passe</h1>
        <hr class="traitMdpOublie">
        <h3 class="mailRecup">Veuillez indiquer votre pseudo</h3>
        <div class="form-group-emailRecup">
                {{ form.hidden_tag() }}
                <div class="form-group effect-mdp-oublie">
                    {{ form.pseudo(type="text",size=50, class_="form-control effet-input focus-border", placeholder="Votre pseudo") }}
                    <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
           
        </div>
        <div class="text-recup">
            <p class="texteDroiteMdpRecup">Un mail vous sera envoyé pour réinitialiser votre mot de passe</p>
        </div>
        <button class="btnRecup btn-success">
            {{form.submit(class="texteRecup text-white", value="Récupérer")}}
        </button>
        </form>
    </section>
{% endblock %}
