{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.datetimepicker.css') }}">
    <link rel="stylesheet" id="theme_link" href="./Bootstrap Navbar Sidebar - Fixed to Left or Right_files/bootstrap.min.css">
    <link rel="stylesheet" href="./Bootstrap Navbar Sidebar - Fixed to Left or Right_files/navbar-fixed-right.min.css">
    <link rel="stylesheet" href="./Bootstrap Navbar Sidebar - Fixed to Left or Right_files/docs.css">
{% endblock %}
{% block content %}
<body>
<aside>
    <nav class="navbar navbar-expand-md bg-primary fixed-right flex-column" style="background-color: transparent;">
        <h1 class="titreoption">Options</h1>
        <div  id="navbarsExampleDefault">
            <div class="checkbox_graph">
                {% for capteur in liste_capteurs %}
                    <div class={{ capteur.id_capteur }}></div>
                        {% if capteur.coche %}
                            <input type="checkbox" onclick="actualiser_capteurs('{{ capteur.id_capteur }}')" id={{ capteur.id_capteur }} name="checklist_capteur" value={{ capteur.nom_capteur }} checked>
                        {% else %}
                            <input type="checkbox" onclick="actualiser_capteurs('{{ capteur.id_capteur }}')" id={{ capteur.id_capteur }} name="checklist_capteur" value={{ capteur.nom_capteur }}>
                        {% endif %}
                        <label for={{ capteur.id_capteur }} style="display:inline-block;"> {{ capteur.nom_capteur }}</label>
                {% endfor %}
            </div>
        </div>
            <div class="calendriergraph">
                <ul class="option2graph">
                    <li class="nav-item dropdown">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Style</a>
                        <ul class="dropdown-menu">
                            <li>
                                <input type="radio" name=none> Aucun
                            </li>
                            <li>
                                <input type="radio" name=ligne> Ligne
                            </li>
                            <li>
                                <input type="radio" name=point> Point
                            </li>
                            <li role="separator" class="divider"></li>
                        </ul>
                        <div class="calendar">
                            <div>
                                <label for="debut">Début</label>
                                <input type="text" name="debut" id="debut"/>
                            </div>

                            <div>
                                <label for="fin">Fin</label>
                                <input type="text" name="fin" id="fin"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </nav>
</aside>
<div class="container-fluid">
   
    <div class="graphique">
        <iframe id="iframe1" src="{{ url_for('graphique') }}?" height="500" width="1000"></iframe>
    </div>
</div>
<div class="titre">
    <form>
        <input type="text" onchange="actualiser_titre()" name="titre_graphique" id="titre_graphique" placeholder="Ajoutez un titre au graphique"><br/>
    </form>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.js') }}"></script>
<script src="{{ url_for('static', filename='js/page_graphique.js') }}">
</script>

</body>
{% endblock %}