{% extends "base.html" %}

{% block content %}
    <section class="sectprofil d-flex flex-column text-center clearfix font-weight-normal">
        <hr class="ligneGaucheProfil">
        <h1 class="titreProfil">Profil</h1>
        <h3 class="titrelisteGroupes">Listes de mes groupes</h3>
        <div class="navListeGroupe">
            <ul class="d-flex flex-lg-column">
                {% for groupe in groupes %}
                <li>
                    <div class="listeOmbreGroupe d-flex flex-row">
                        <p class="nomGroupe text-capitalize">{{ groupe.nom_groupe }}</p>
                        <form method="POST" action="{{ url_for("quitter_groupe", id_groupe=groupe.id_groupe) }}">
                            {{ form_quitter_groupe.hidden_tag() }}
                            <button class="btn-croix btn-light" type="submit">
                                <img src="{{ url_for('static', filename='images/croix.png') }}" width="45px" height="45px" alt="croix">
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class=pageMilieuprofil>
            <h4 class=rubriqueInfo>Adresse Mail :</h4>
            <div class="infosOmbragees">
                {{ current_user.mail_utilisateur }}
            </div>
            <h4 class=rubriqueInfo>Nom :</h4>
            <div class="infosOmbragees">
                {{ current_user.nom_utilisateur }}
            </div>
            <h4 class=rubriqueInfo>Prénom :</h4>
            <div class="infosOmbragees">
                {{ current_user.prenom_utilisateur }}
            </div>
            <h4 class=rubriqueInfo>Pseudonyme:</h4>
            <div class="infosOmbragees">
                {{ current_user.pseudo_utilisateur }}
            </div>
        </div>
        <div class="imgProfil">
            <img src="{{ url_for('static', filename='images/profilDefault.png') }}" alt="Image par défault"
                 width="170px" height="170px">
        </div>
        
        <a class="ml-2 text-white" href="#popup1">
            <button class="btn-mProfil button-edit-profil btn-success"> Modifier mon profil</button>
        </a>
        <hr class="ligneDroiteProfil">
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Editer le profil</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <div class="content-section d-flex flex-column justify-content-center">
                        <form method="POST" action="{{ url_for("page_profil") }}">
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                            </div>
                            <fieldset class="form-group">

                                <div class="form-group-prenom-modif">
                                    {{ form.prenom.label(class="form-control-label") }}
                                    {% if form.prenom.errors %}
                                        {{ form.prenom(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.prenom.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.prenom(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group-nom-modif">
                                    {{ form.nom.label(class="form-control-label") }}
                                    {% if form.nom.errors %}
                                        {{ form.nom(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.nom.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.nom(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group-email-modif">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group-mdp-modif">
                                    {{ form.mot_de_passe.label(class="form-control-label") }}
                                    {% if form.mot_de_passe.errors %}
                                        {{ form.mot_de_passe(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.mot_de_passe.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.mot_de_passe(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group-Cmdp-modif">
                                    {{ form.confirm_mot_de_passe.label(class="form-control-label") }}
                                    {% if form.confirm_mot_de_passe.errors %}
                                        {{ form.confirm_mot_de_passe(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_mot_de_passe.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_mot_de_passe(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="btnconfirmchang">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}