<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ role.nom_role }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableau_resultat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connecter.css') }}">
</head>
<body>
    <h1 id="titre-nom-role">Role : {{ role.nom_role }}</h1>
    <div class="capteurs_groupe">
        <h2 class="titrelistedroit">Droits :</h2>
        <ul>
            {% for droit,droit_actif in dico_droits_groupe_droit_actif.items() %}
            <li>
                <label class="switch" for="switch"> {{ droit.nom_droit }}</label>
                <p>{{ droit.description_droit }}</p>
                <label class="switch">

                    {% if droit_actif == 0 %}
                        <input type="checkbox" id="test">
                    {% else %}
                        <input type="checkbox" id="test" checked>
                    {% endif %}
                    <span class="slider round"></span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>