{% extends "base.html" %}
{% block content %}

    
<div class='haut'>
    <select name="Groupe" id="grp">
        <option value="Groupe">Groupe</option>
    </select>

    <label for="dateofbirth">Date 1</label>
    <input type="date" name="dateofbirth" id="dateofbirth">

    <label for="dateofbirth">Date 2</label>
    <input type="date" name="dateofbirth" id="dateofbirth">

</div>
<div class="mid">
<section class="tableau">
    <table class="tab">
        <tr>
            <td>&nbsp;</td>
            <td>Date</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <select>
                    <option value="x.nameCapteurs">x.nameCapteurs</option>
                </select>
            </td>
            <td>x.Valeur</td>
            <td>
                <select>
                    <option value="">x.caracteristique</option>
                </select>
            </td>
        </tr>
    </table>
</section>
</div>
    <!-- <div class="haut" style="margin-top: 9vh;">
        <div class="input-group mb-3" style="margin-top: 5vh;">
            <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groupe</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Capteur 1</a>
                <a class="dropdown-item" href="#">Capteur 2</a>
            </div>
        </div>

        <div class = "date1">
            <label for="dateofbirth">Date 1</label>
            <input type="date" name="dateofbirth" id="dateofbirth">
        </div>

        <div class = "date1">
            <label for="dateofbirth">Date 1</label>
            <input type="date" name="dateofbirth" id="dateofbirth">
        </div>
    </div>
    <div class="tableau">
    <table class ="tab" style="min-height: 80vh;">
        <tr>
            <td>&nbsp;</td>
            <td>Date</td>
        </tr>
        <tr>
            <td>x.nameCapteurs</td>
            <td>x.Valeur</td>
        </tr>
    </table>
    </div> -->


{% endblock %}