div.content-sections {
  width: 50%;
  height: 105vh;
  margin-left: 24%;
}


ul.option2graph {
  list-style: none;
  border-width: 1px;
  border-top: #000000;
  background-color: green;
  color: white;
  padding: 4vh;
  border-radius: 30px;
}

div.titre{
  margin-left: 45vh;
}

div.titre input{
  width: 24vh;
  padding: 0.5vh;
}

div.graphique{
  margin-left: 2vh;
  margin-top: 13vh;
}

div.checkbox_graph{
  margin-top: 4vh;
  padding: 2vh;
  margin-left: 32%;
  padding: 3vh;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

div.checkbox_graph input{
  margin-top: 4vh;
  width: 3vh;
}

.titreoption{
  width: 93%;
  height: 3vh;
  text-align: center !important;
  color: white;
  padding-top: 2vh;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;
}


section.sectco{
  width: 100%;
  height: 100vh;
}
section.sectprofil{
  width: 100%;
  height: 110vh;
}
main{
  margin-top: 9vh;
  min-height: 80vh;
}

div.content-section-x{
  width: 100%;
  height: 110vh;
}

section.pagegraph{
  width: 100%;
  height: 75vh;
}

h1{
width:55%;
position: absolute;
height: 25%;
font-family: Play;
font-style: normal;
font-size: 175%;
/* or 366% */
letter-spacing: 0.09em;

color: #000000;
}


/* page Se connecter */
section.sectco{
  width: 100%;
  height: 100vh;
}

h1.seconnecter {

width:97%;
margin-top: 11%;
}
div.seconnecter{
  height: 25%;
  margin-top: 3%;
  position: absolute;
  left: 45.5%;
  margin-bottom: 1%;
}
.form-group{  
  font-family: Play;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.09em;
}
div.form-group-id{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 36%;
  margin-top: 17%;
}
div.form-group-mdp{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 36%;
  margin-top: 25%;

}
.btnseco{
  position: absolute;

  /* or 106% */
  
  color: #FBF4F4;
  width: 10%;
  height:51px;
  left: 34%;
  margin-top: 32%;

  background: #2E9514;
  border-radius: 11.8507px;
}
.btnmdpo{
  position: absolute;
  
  /* or 106% */
  font-size: 1.6vh;
  line-height: 22px;
  
  width: 10%;
  height: 51px;
  left: 51%;
  margin-top: 31.2%;

  background: #696262;
  border-radius: 11.8507px;
}
.btnmdpo>a{
  color: #FBF4F4;
}
.btnnoaccount{
  position: absolute;
  width: 15%;
  height: 5%;
  left: 40%;
  margin-top: 38%;
  border: none;
  color: #000000;
  background-color: #FFFFFF;
}
.ligneGaucheConnecter{
  position: absolute;
  width: 35%;
  height: 0%;
  margin-top: 20%;
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
    
  }
  
.ligneDroiteConnecter{
  position: absolute;
  width: 35%;
  height: 0%;
  left: 62%;
  margin-top: 20%;
    
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
      
  }
@media (max-width:1500px) {
  section.sectco {
    height: 150vh;
  }
  h1.seconnecter {
    margin-top: 16%;
    margin-left: 1%;
    }
    
  div.seconnecter{
    margin-top: 6%;
    }
  .form-group{  
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.07em;
    }
    div.form-group-id{
      height: 28px;
      left: 36%;
      margin-top: 21%;
    }
    div.form-group-mdp{
      height: 28px;
      left: 36%;
      margin-top: 29%;
    }
    .btnseco{
      color: #FBF4F4;
      left: 33%;
      font-size: 2vh;
      margin-top: 39%;
    }
    .btnmdpo{
      margin-top: 37.5%;
      left:54%;
    }
    .btnnoaccount{
      left: 41%;
      margin-top: 45%;
      background-color: #FFFFFF;
    }
    .ligneGaucheConnecter{
      margin-top: 25%;
    }
      
    .ligneDroiteConnecter{
      margin-top: 23.8%; 
      left:61.5%;
    }
}
/* page s'inscrire */
div.content-section{
  width: 100%;
  height: 125vh;
}
h1.inscription {
  width:59%;
  top: 18%;
  left:0%;
}
div.form-group-pseudo{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 35%;
  top: 30%;
}
div.form-group-prenom{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 35%;
  top: 45%;

}
div.form-group-nom{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 35%;
  top: 60%;
}
div.form-group-email{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 35%;
  top: 75%;
}
div.form-group-mdpI{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 35%;
  top: 90%;
}
div.form-group-CmdpI{
  position: absolute;
  width: 25%;
  height: 32px;
  
  left: 35%;
  top: 105%;
}
.btnsinscrire{
  position: absolute;  
  /* or 106% */
  
  color: #FBF4F4;
  width: 7%;
  height:44px;
  left: 45%;
  top: 120%;

}
.ligneGaucheInscription{
  position: absolute;
  width: 42%;
  height: 0%;
  left: 0%;
  top: 65%;
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
  }

.ligneDroiteInscription{
  position: absolute;
  width: 42%;
  height: 0%;
  left: 110vh;
  top: 65%; 
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
  }
  .text-muted{
    position: absolute;
    left: 40%;
    top:127%;
    /* or 527% */
    color: #000000;
  
  }
  @media (max-width:1500px) {
    div.content-section{
      height: 135vh;
    }
    .btnsinscrire{
      position: absolute;  
      color: #FBF4F4;
      width: 7%;
      height:44px;
      left: 43%;
      top: 125%;
    
    }
    .text-muted{
      top:140%;
      left:36%;
    }
    .ligneDroiteInscription{
      width: 46%;
      left : 0%;
      top : 75%;
    }
    .ligneGaucheInscription{
      width: 46%;
      left:50%;
      top:75%;
    }
  }

/* page d'accueil connecté */
h1.Bienvenue{
width:70%;
margin-top: 3%;
font-weight: bold;
color: #000000;
}


div.divgroup{
  position : absolute;
  margin-top:18%;
  left:25%;
  height:80%;
  width:80%
}
div.input-group-prepend{
  position : absolute;
  margin-top:20%;
  border: 0.5px solid #012B05;
  left: 60%;

}
div.input-group-text{
  background-color: #FFFFFF;
}
h6{
  font-size:135%
}
a.avertclair{
  color: #26be18;
  text-decoration : underline;
  text-transform : uppercase;
}
div.burger-nav{
  position:fixed;
  margin-top:1.5%;
  z-index:9999;
  background: #012B05;
}
div.navtest{
  position : absolute;
  width:50%;
  margin-top:18vh;
  margin-left:25%;
}

li.lisanspuce{
  list-style: none;
  font-style : italic;
  line-height: 35px;
  
  
}
input[type=checkbox] {
	margin: 1px 7px 1px 1px;
}
.traitaccueil{
  position: absolute;
  width: 65%;
  height: 0%;
  left: 25%;
  margin-top: 6.5%;
  
  border: 0.740669px solid #012B05;
}

@media (max-width:1500px) {
  
    
    div.divgroup{
      position : absolute;
      margin-top:20%;
      left:25%;
      height:80%;
      width:80%
    }
    div.input-group-prepend{
      left: 73.5%;
    
    }
    h6{
      font-size:125%
    }
    div.burger-nav{
      margin-top:2.3%;
    }
}
/*



*/
/* page mdp_oublié*/
section.sectmdpo{
  width: 100%;
  height: 100vh;
}
h3.mailRecup{
position: absolute;
left: 20%;
top: 50%;

font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 40px;

/* or 98% */
letter-spacing: 0.09em;

color: #000000;
}
h1.titreRecupMdp{
position: absolute;
width: 60%;
top: 20%;
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 50px;

/* or 320% */
letter-spacing: 0.09em;

color: #000000;
}
.traitMdpOublie{
  position: absolute;
  width: 45%;
  height: 0%;
  margin-top:14%;
  margin-left: 25%;
  
  border: 0.740669px solid #012B05;
}
div.form-group-emailRecup{
  position: absolute;
  width: 25%;
  height: 32px;
  left: 20%;
  top: 60%;
}

div.text-recup{
  position: absolute;
  width: 20%;
  height: 18%;
  left: 60%;
  top: 60%;
  
  border: 2.24655px solid #1F9F14;
  
  box-sizing: border-box;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5em;
  
  /* or 111% */
  letter-spacing: 0.09em;
  
  color: #000000;
  }
  p.texteDroiteMdpRecup{
    margin: 3%;
  }

  .btnRecup{
  position: absolute;
  width:10%;
  height:5%;
  left: 30%;
  top: 80%;
  background: #024408;
  border-radius: 20px;
  line-height: 2.5em;
  }
  .texteRecup{
    background: none ;
    border: none;
  }
  @media (max-width:1500px) {
    div.form-group-emailRecup{
      top: 63%;
    }
    section.sectmdpo{
      height: 105vh;
    }
    div.text-recup{
      width: 30%;
      }
      p.texteDroiteMdpRecup{
        margin: 3%;
      }
      h1.titreRecupMdp{
        font-size: 25px;
      }
    
      .btnRecup{
      height:7%;
      left: 30%;
      top: 90%;
      }
      .traitMdpOublie{
        width: 60%;
        margin-top:15%;
      }
  }


/*Page profil*/
section.sectprofil{
  width: 100%;
  height: 120vh;
}
  h1.titreProfil{
  position: absolute;
  width: 55%;
  top: 20%;
  left: 23%;
  font-size:220%
  }

  h3.titrelisteGroupes{
position: absolute;
width: 253px;
height: 35px;
top:25%;
left:3%;

font-weight: bold;
font-size: 21px;
line-height: 25px;
}
.ligneGaucheProfil{
position: absolute;
width: 45%;
height: 0%;
left: 2%;
margin-top: 30%;
border: 0.740669px solid #012B05;
transform: matrix(0, 1, -1, 0, 0, 0);
  
}

.ligneDroiteProfil{
  position: absolute;
  width: 45%;
  height: 0%;
  left: 67%;
  margin-top: 30%;
  
  border: 0.740669px solid #012B05;
  transform: matrix(0, 1, -1, 0, 0, 0);
    
}

p.nomGroupe{
position: absolute;
height: 20px;
margin-top: 2.5%;
margin-left: 2.5%;
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;

/* or 121% */
letter-spacing: 0.09em;

color: #000000;
}
div.navListeGroupe > ul>li{
  list-style: none;
}
div.listeOmbreGroupe{
position: absolute;
width: 18%;
height: 50px;
left: 3%;
margin-top: 5%;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(12, 119, 17, 0.8);
}

button.btn-croix{
  margin-left: 460%;
  border: none;
}

.btn-mProfil{
position: inherit;
width: 9%;
margin-left: 60%;
top: 95%;

font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

/* or 175% */
text-align: center;
letter-spacing: 0.09em;
}

div.infosOmbragees{
position: inherit;
height: 53px;
width : 500px;
background: #FFFFFF;
box-shadow: 4px 4px 4px rgba(3, 73, 8, 0.55);
border-radius: 15px;
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 100%;
line-height: 50px;
margin-left:37%;
margin-top: 7.5%;
}


h4.rubriqueInfo{
margin-top: 5%;
position: absolute;
width: 14.5%;
height: 28px;
left: 33%;
text-align: justify;


font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

/* or 121% */
letter-spacing: 0.09em;

color: #000000;
}
ul.d-flex>li{
  margin-top: 7%;
}
div.imgProfil{
position: absolute;
width: 176px;
height: 176px;
left: 72.5%;
top: 30%;

border: 3px solid #024609;
box-sizing: border-box;
}
div.form-group-prenom-modif{
  position: absolute;
  width: 40%;
  height: 32px;
  left: 29%;
  top: 10%;
  font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 25px;

}
div.form-group-nom-modif{
  position: absolute;
  width: 40%;
  height: 32px;
  left: 29%;
  top: 20%;
  font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 25px;

}

h1#titre-nom-role {
  width: 100%;
  text-align: center;
  height: 5%;
  top: 0%;
  background-color: green;
}

.titrelistedroit{
  text-align: center;
  background-color: rgb(85, 156, 85);
  top:0%;
}

div.form-group-email-modif{
  position: absolute;
  width: 40%;
  height: 32px;
  left: 29%;
  top: 30%;
  font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 25px;
}

.btnconfirmchang{
  position: absolute;  
  /* or 106% */
  
  color: #FBF4F4;
  width: 10%;
  height:15%;
  left: 28%;
  top: 65%
}
.form-group-mdp-modif{
  position: absolute;
  width: 40%;
  height: 32px;
  left: 29%;
  font-family: Play;
  top: 40%;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 25px;
}
.form-group-Cmdp-modif{
  position: absolute;
  width: 40%;
  height: 32px;
  left: 29%;
  top: 50%;
  font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 25px;
}
@media (max-width:1500px){
  section.sectprofil{
    width: 100%;
    height: 160vh;
  }
    h1.titreProfil{
    width: 55%;
    top: 23%;
    font-size:180%
    }
  
    h3.titrelisteGroupes{
  top:25%;
  font-size: 18px;
  }
  .ligneGaucheProfil{
  width: 45%;
  margin-top: 40%;
    
  }
  
  .ligneDroiteProfil{
    width: 45%;
    margin-top: 40%;
  }
  ul.d-flex>li{
    margin-top: 7%;
  }
  p.nomGroupe{
  font-size: 16px;
  line-height: 20px;
  }

  div.navListeGroupe > ul>li{
    list-style: none;
  }

  div.listeOmbreGroupe{
  height: 50px;
  margin-top: 6%;
  }
  
  button.btn-croix{
    margin-top: 5%;
    margin-left: 275%;
  }
  
  .btn-mProfil{
  font-size: 12px;
  line-height: 22px;
  border-radius : 4px;
  }
  
  div.infosOmbragees{
  height: 45px;
  width : 400px;;
  font-size: 90%;
  line-height: 50px;
  }
  
  div.pageMilieuprofil{
    margin-top:5%;
    
  }
  
  h4.rubriqueInfo{
    font-size: 15px;
  }
  div.imgProfil>img{
    width: 130px;
    height: 130px;
  }
  div.imgProfil{
  width: 136px;
  height: 136px;
  }
  div.form-group-prenom-modif{
    width: 60%;
    height: 25px;
    left: 22%;
    top: 11%;
    font-size: 20px;
    line-height: 25px;
  
  }
  div.form-group-nom-modif{
    width: 60%;
    height: 25px;
    left: 22%;
    top: 23%;
    font-size: 20px;
    line-height: 25px;
  
  }
  div.form-group-email-modif{
    width: 60%;
    height: 25px;
    left: 22%;
    top: 36%;
    font-size: 20px;
    line-height: 25px;
  }
  
  .btnconfirmchang{
    position: absolute;  
    /* or 106% */
    
    color: #FBF4F4;
    width: 10%;
    height:15%;
    left: 21%;
    top: 80%
  }

  .form-group-mdp-modif{
    width: 60%;
    height: 25px;
    left: 22%;
    top: 49%;
    font-size: 20px;
    line-height: 25px;
  }
  .form-group-Cmdp-modif{
    width: 60%;
    height: 25px;
    left: 22%;
    top: 62%;
    font-size: 20px;
    line-height: 25px;
  }
}

/* page groupe */
div.content-section-groupes{
  width: 100%;
  height: 170vh;
}
@media (max-width:1500px) {
  div.content-section-groupes {
    height: 230vh;
  }
}
.iframe_groupe{
  position: absolute;
  margin-left: 35%;
  top: 20%;
}
@media (max-width:1500px) {
  .iframe_groupe {
    width:60%;
    margin-top: -10%;
    height: 60%;
    margin-left:30%;
  }
}
.titreGroupes{
  top:18.5%;
  left:5%;
  font-size: 230%;
}

iframe#iframe_map {
  /* width: 60%; */
  /* height: 70vh; */
  margin-left: 35%;
  position: absolute;
  top: 90%;
}

@media (max-width:1500px) {
  .titreGroupes {
    width: 100%;
    font-size: 180%;
    margin-top: 2%;
    height: 20px;
    text-align: center;
}
  }
}
.map_groupes{
  position: absolute;
  left:35%;
  top:105%;
  height: 60%;
  margin-top: 5%;
}
@media (max-width:1500px) {
  .map_groupes {
    width:40%;
    margin-top: 8%;
    height: 70%;
    left:30%;
  }
}
.input-group-groupes{
  position: absolute;
  top:105%;
  left:72%;
  margin-top:5%;
}
@media (max-width:1500px) {
  .input-group-groupes {
    width:40%;
    left:50%;
    top:105%;
  }
}
.traitMesgroupes{
  position: absolute;
  width: 55%;
  height: 0%;
  left: 28%;
  margin-top: 10%;
  
  border: 0.740669px solid #012B05;
}
@media (max-width:1500px) {
  .traitMesgroupes {
    margin-top: 12.5%;
    left: 30%;
    width: 60%;
  }
}
.titreAside{
  font-family: Play;
  font-size: 170%;
  margin-bottom: 10%;
}
.divAside{
  left: 5%;
  top: 15%;
}

.ulrow{
  list-style: none;
  margin-top: 5%;
  height: auto;
  position:fixed;
  z-index:9999;
  
}
.ligroupe{
  margin-top: 25%;
}


.inputReinitialiserMdp{
  position: inherit;
  height: 53px;
  width : 500px;
  font-family: Play;
  line-height: 50px;
  margin-left:25%;
  margin-top: 7.5%;
}

.titreGroupe{
  margin-top: 10%;
  margin-left:20%;
}
.capteurs_groupe{

  margin-top: 3%;
  font-family: Play;
  margin-bottom: 2%;
}


.membres_groupe{
  font-family: Play;
  margin-right: 2%;
  margin-top: 4%;
}
.btsupprmembre{
  margin: 10%;
}
h2.TinfosGroupes{
  font-size: 160%;
}
div.capteurs_groupe>a,div.membres_groupe>a{
  margin-left:20%;
  margin-top: 4%;
  margin-bottom: 6%;
}
div.capteurs_groupe>ul>li,div.membres_groupe>ul>li{color: #086912;
  list-style: none;

}
button.btn-croix-groupe{
  margin-left: 90%;
  border: none;
}
.tGroupe{
  top:3%;
  font-size: 250%;
  left:3%
}
@media (max-width:1500px){
  .titreAside{
    font-family: Play;
    font-size: 170%;
    margin-bottom: 10%;
  }
  .divAside{
    left: 5%;
    top: 15%;
  }
  
  .ulrow{
    list-style: none;
    margin-top: 5%;
    height: auto;
    position:fixed;
    z-index:9999;
    
  }
  .ligroupe{
    margin-top: 25%;
  }
  
  
  .inputReinitialiserMdp{
    position: inherit;
    height: 53px;
    width : 500px;
    font-family: Play;
    line-height: 50px;
    margin-left:25%;
    margin-top: 7.5%;
  }
  
  .titreGroupe{
    margin-top: 15%;
    margin-left:10%;
    font-size: 150%;
  }
  .membres_groupe{
    font-family: Play;
    margin-right: 2%;
    margin-top: 0%;
  }
  .btsupprmembre{
    margin: 10%;
  }
  h2.TinfosGroupes{
    font-size: 160%;
  }
  div.capteurs_groupe>a,div.membres_groupe>a{
    margin-left:20%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  div.capteurs_groupe>ul>li,div.membres_groupe>ul>li{color: #086912;
    list-style: none;
    font-size: 100%;
  
  }
  div.capteurs_groupe>ul>li>h3,div.membres_groupe>ul>li>h3,div.capteurs_groupe>ul>li>h4,div.membres_groupe>ul>li>h4{
    font-size: 115%;
  }
  .tGroupe{
    top:6%;
    font-size: 200%;
    left:4%
  }
}
.calendriergraph {
  width: 100%;
  margin-top: 3VH;
  opacity: 0.7;
}

.calendriergraph:hover {
  opacity: 1;}