.footer-dark {
  padding: 10px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.div_texte {
  background-color: #F6F7D5;
}

.texte {
  width: 40%;
  height: 450px;
}

.btn:not(:disabled):not(.disabled) {
  padding-left: 20px;
}

@media (max-width:785px) {
}

@media (min-width: 768px) {
  .footer-dark .texteT {
    width: 60%;
    height: 262px;
    background-color: #F6F7D5;
  }
}

@media (min-width: 768px) {
  .footer-dark .point {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .footer-dark .point {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .footer-dark p {
    font-size: 16.5px;
    font-weight: bold;
    width: 100%;
    padding-left: 2em;
  }
}

