@media (max-width: 1938px) {
    body, html {
        font-size: 17px ;
    }

    section.bandeau {
        height: 42vh;
    }

    section.banniere{
        height:70vh;
    }

}


    /* .banniere img {
    top: 10%;
    left : 20%;
    height: 30vh;   
    }
    .banniere button {
        top:75%;
    }

    .banniere{
        height: 70vh ;
    } */
@media (max-width: 1893px){
    iframe#iframe1{
        width: 105vh;
    }
}


@media screen and (max-height: 900px){
    .calendriergraph{
        margin-top: 1vh;
    }
}
/* @media (max-width: 1758px) {
    .banniere img {
        left: 15%;
        }
} */

@media (max-width : 1542px) {
    section.bandeau div.div-humain img {
        height: 100%;
        width: 75%;
    }
    section.bandeau {
        height: 30vh;
    }
}

/* @media (max-width: 1463px) {
    .banniere img {
        top: 10%;
        left : 20%;
        height: 25vh;   
        }
        .banniere button {
            top:75%;
        }
        .banniere{
            height: 40vh;
        }
} */

@media (max-width: 1338px) {
    /* .banniere img {
        height: 23vh;   
        }
        .banniere{
            height: 38vh;
        } */
    section.bandeau {
        height: 23.5vh;
        width: 100%;
    }

}


@media (max-width: 1275px) {
    body, html {
        font-size: 11px ;
    }
/* 
    .banniere img {
        height: 22vh;   
        } */

    section.bandeau {
        height: 22.5vh;
        width: 100%;
    }
}


@media (max-width: 1100px) {
    body, html {
        font-size: 11px ;
    }
    /* .banniere img {
        top: 10%;
        left : 20%; 
        } */
    section.bandeau{
        height: 26.5vh;
        width: 100%;
    }
    section.bandeau div.div-humain img {
        height: 100%;
        width: 85%;
    }
}


@media (max-width: 1050px) {
    section.bandeau{
        height: 23.5vh;

}

/* .banniere img {
    top: 10%;
    left : 17%; 
    } */
}

@media (max-width: 995px) {
    /* .banniere img {
        top: 10%;
        left : 15%;
        flex-basis: 75%;  
        height: 20vh; 
    } */
    section.bandeau div.div-humain {
        flex-basis: 50%;
        }
    }

@media (max-width: 900px) {
    /* .banniere img {
        left : 11%;   
        } */
    section.bandeau div.div-humain img {
        height: 70%;
        top : 15%;
        width: auto;
        justify-self: center;
        transform: none;
    }
}

@media (max-width: 860px) {
    /* .banniere img {
        top: 10%;
        left : 10%;   
        } */
}

@media (max-width: 830px) {
    body, html {
        font-size: 11px ;
    }
}

@media (max-width: 815px) {
    /* .banniere img {
        flex-basis: 65%;
        width: 80%;
        height: 19vh;
        left : 8%
    } */
}

@media (max-width: 767px) {
    section.bandeau div.div-humain {
        flex-basis: 100%;
        width: 100%;
        height: 20vh;
    }

    section.bandeau div.div-humain img {
        position: static;
        height: 100%;
        width: auto;
        justify-self: center;
        transform: none;
    }

    section.bandeau {
        flex-direction: column-reverse;
        height: auto;
    }

    section.bandeau div.texteT p {
        text-align: center;
        margin-top: 1em;
    }

    section.banniere{
        height: 115.1vh;
    }

    /* .banniere img {
        height: 16vh;
        width: 80%;
    } */
/* 
    .banniere button {
        top: 78%;
        left: 43%;
        font-size: 1.6rem;
      
      } */
    /* .banniere{
        height: 26vh;
    } */

}


@media (max-width: 630px) {
    /* .banniere img {
        height: 14vh;
        width: 80%;
    } */

    /* .banniere button {
        top: 72%;
        left: 40%;
      } */
    /* .banniere{
        height: 24vh;
    } */
}


/* 
@media (max-width: 584px) {
    .banniere img {
        height: 15vh;
    }
    .banniere button {
        top: 73%;
        left: 43%;
        font-size: 1.6rem;
      
      }

      .banniere {
        width: 100%;
        height: 31.1vh;
      }
} */


@media (max-width: 560px) {
    section.bandeau div.div-humain img {
        height: 80%;
    }

    section.bandeau div.texteT p {
        text-align: center;
        margin-top: 0;
    }

    /* .banniere img {
        height: 13vh;
        width: 83%;
    }

    .banniere button {
        top: 70%;
        left: 40%;
      
      }
    .banniere{
        height: 23vh;
    } */
}

/* @media (max-width: 499px) {
    .banniere img {
        height: 12vh;
        width: 83%;
        left: 10%;
    }

} */

/* @media (max-width: 466px) {
    .banniere img {
        height: 11vh;
        width: 80%;
    }

    .banniere button {
        top: 73%;
        left: 40%;
        font-size: 1.2rem;
      }
    .banniere{
        height: 20vh;
    }

} */


@media (max-height: 600px) {
    html, body{
        font-size: 9px;
    }

    div.bandeau{
        height: 40vh;
    }

    div.div-humain img{
        width: auto;
        height: auto;
    }

}