.navbar.navbar-dark.navbar-expand-md.fixed-top {
  background-color: #012b05;
}

body, html {
  font-size: 15px;
  margin:0;
  display: block;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  background-color: dark;
}


.text-white.footer-dark {
  width: 100%;
}

.nav-link {
  font-size: 1.3rem;

}

div.content-section {
  width: 50%;
  height: 105vh;
  margin-left: 24%;
}

/* PAGE CREATION GROUPE */

/* .creation-groupe {
  margin-top: 230px;
  border-radius: 10px;
  padding:0.2em;
  height: 2.5em;
  width: 20em;
} */



.title-list-role-membre{
  justify-content: center;
  background:#f6f6f6 ;
}


.title-list-role-membre h2{
  color:#fff;
  background: #06D85F;
  padding: 10px 20px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}


.list-role-membre ul{
  position: relative;
  background: #fff;
  padding-inline-start: 5px !important;
}

.list-role-membre ul li{
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.list-role-membre ul li:hover{
 transform: scale(1,1) ;
 z-index:100;
 background: #38a517;
 box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
 color:#fff;
}

.list-role-membre ul li .numerospan{
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
background: #38a517;
color: #fff;
display: inline-block;
border-radius: 50%;
margin-right: 10px;
font-size: 12px;
font-weight: 600;
 }


 .croix-roles{
  float: right;
  align-items: center;
  color: darkgrey;
  

 }

 .croix-plus{
  float: right;
  align-items: center;
  color: darkgrey;
  

 }
/* .lien-liste-role{
  width: 25px;
  height: 25px;
  background: grey;
  color: black;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
} */

.close{
  margin-bottom: 2px;
}

.button-edit-profil {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button-edit-profil:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 5%;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: visible;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.edit-suppr-section{
  height: 67vh;
}
.edit-suppr{
  margin-left: 30%;
  padding: 5em;
}

.btnEditSuppr{
  margin-left: 41%;
}

.btnEditSuppr button{
  width: 10%;
  padding: 0.4em;
}

.edit-suppr select {
  width: 20%;
}
#title-creation-groupe {
  padding-top: 40px;
  text-align: center;
}

#title-add-arduino{
  text-align: center;
  padding-top: 7%;
  margin-bottom: 5%;
}
.creation-groupe-section{
  text-align: center;
  height: 70vh;
}

:focus {
	outline: none;
}
.effect-groupe-creation {
	width: 26.33%;
	margin: 40px 3%;
	position: relative;
  margin-top:230px;
  margin-left: 68vh;
}

.effect-arduino-creation {
	width: 25%;
	margin: 40px 3%;
	position: relative;
  margin-top:230px;
  margin-left: 70vh;
}
.tAjoutCap{
  font-size: 300%;
}
.btn-creation-capteur{
  margin-left: 40%;
  width: 15%;
  height: 5%;
  font-size: 90%;
}

.effect-capteur-creation {
	width: 44.5%;
	margin: 40px 3%;
	position: relative;
  margin-top:12vh;
  margin-left: 30vh;
}

h2.tAjoutCap.text-center {
  background-color: green;
  height: 7vh;
  color: white;
  padding-top: 0.1em;
}

.titreRoles{
  margin-left: 40%;
}

iframe#iframe_droit {
  margin-left: 19%;
  margin-top: 5%;
}

li.element_role {
  list-style: none;
  margin-left: 5vh;
  margin-top: 10vh;
}

.effect-mdp-oublie {
	width: 80.33%;
	position: relative;
  box-shadow: none import !important;
  -webkit-appearance: none;
}

.effect-groupe-creation [type="text"] {
	font: 15px/24px "Lato", Arial, sans-serif;
	color: #333;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
}
.effet-input {
	border: 1px solid #ccc;
	padding: 7px 14px 9px;
	transition: 0.4s;
}
.effet-input~.focus-border:before,
.effet-input~.focus-border:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #03e64c;
	transition: 0.2s;
	transition-delay: 0.2s;
}
.effet-input~.focus-border:after {
	top: auto;
	bottom: 0;
	right: auto;
	left: 0;
	transition-delay: 0.6s;
}
.effet-input~.focus-border i:before,
.effet-input~.focus-border i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: #03e64c;
	transition: 0.2s;
}
.effet-input~.focus-border i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	transition-delay: 0.4s;
}
.effet-input:focus~.focus-border:before,
.effet-input:focus~.focus-border:after {
	width: 100%;
	transition: 0.2s;
	transition-delay: 0.6s;
}
.effet-input:focus~.focus-border:after {
	transition-delay: 0.2s;
}
.effet-input:focus~.focus-border i:before,
.effet-input:focus~.focus-border i:after {
	height: 100%;
	transition: 0.2s;
}
.effet-input:focus~.focus-border i:after {
	transition-delay: 0.4s;
}

.text-groupe-checkbox {
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
label.stylised-groupe {
  height: 19px;
  width: 16px;
  border: 3px solid #666;
  border-radius: 2px;
  transition: all .2s ease;
  background: #e0e0e0;
  display: inline-block;
}
.checkbox:checked + label.stylised-groupe {
  background: none;
  border-color: green;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 8px;
  transform: rotate(-40deg);
  transform-origin: cente center;
  margin-bottom: 5px;
}
.checkbox {
  position: absolute;
  visibility: hidden;
}

.checkbox-groupe button{
  margin-left: 5em;
}


section.bandeau {
  display: flex;
  background-color: #F6F7D5;
  width: 100%;
  height: 32.5vh;
  align-items: center;
}

section.bandeau div.texteT {
  flex-basis : 60%;
}

section.bandeau div.texteT p {
  margin-bottom: 0;
  padding: 1em;
  font-size: 1.3rem;
}

.inputlog{
  padding: 8px 16px;
  height: 48px;
  margin-top: 2em;
  border : 2px solid #3498db;
  border-radius: 24px;
}
.inputlog input{
  padding: 8px 16px;
  height: 48px;
  margin-top: 2em;
  border : 2px solid #3498db;
  border-radius: 24px;
}

section.bandeau div.div-humain {
  flex-basis: 40%;
  flex-grow: 1;
  height: 100%;
  position: relative;
}

section.bandeau div.div-humain img {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: auto;
  height: 100%;
  right: 0;
}

.banniere {
  width: 100%;
  background-image: url('/static/images/point.png');
  background-position: center;
  /*background-attachment: fixed;*/
  background-size: cover;
  position: relative;
}



footer {
  width: 100%;
  position: inherit;
}

.humain {
  width: 100%;
}


div.imageblé{
  width: 100%;
  height: 25%;
  margin-top: 8vh;
}

div.imageblé img{
  width: 100%;
  height: auto;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat");

.pricing-table{
  font-family: 'Montserrat', sans-serif;
}

.pricing-table .block-heading {
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.pricing-table .block-heading h2 {
  color:#F6F7D5;
  font-weight: bold; 
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7; 
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.pricing-table .item {
  background-color:#b3ed85;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #212529;
  padding: 30px;
  overflow: hidden;
  position: relative; 
}

.pricing-table .item2 {
  background-color:#fbf32f;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #212529;
  padding: 30px;
  overflow: hidden;
  position: relative; 
  margin-bottom: 30px;
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px; 
}

.pricing-table .col-md-5:not(:last-child) .item2 {
  margin-bottom: 30px; 
}

.pricing-table .item button {
  font-weight: 600; 
}

.pricing-table .item2 button {
  font-weight: 600; 
}

/* .oui{
  color:green;
}

.non{
  color:red;
} */
.pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #F6F7D5;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #212529;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px; 
}

.pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7; 
}

.pricing-table .item2 p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7; 
}

.pricing-table .features .feature {
  font-weight: 600; }

.pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px; 
}

.pricing-table .price h4 {
  margin: 15px 0;
  font-size: 40px;
  text-align: center;
  color: #212529; 
}

.pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0; 
}


div.features img {
  width: 30px;
  height: 30px;
}

a.btn.btn-default.dropdown-toggle{
  color: white;
}
span.feature {
  color: black;
}

div.btn-graph {
  float:right;
  width:240px;
}
div.calendar {
  width:240px;
  margin-left: 8vh;
}

div.calendar div{
  margin: 2vh;
  margin-left: 10vh;
}

#navbarsExampleDefault{
  width: 100%;
  border: ridge;
  background-color: green;
  color: white;
  border-radius: 30px;
  opacity: 0.7;
}

#navbarsExampleDefault:hover{
  opacity: 1;
}
/* div.features h4.oui .oui1{
  width: 30px;
  height: 30px;
  top: 37%;
  left: 57%;
}

div.features h4.non img.non1{
  width: 25px;
  height: 30px;
  top: 36%;
  left: 57%;
}

div.features h4.non img.non2{
  width: 25px;
  height: 30px;
  top: 36%;
  left: 57%;
}
div.features h4.non img.non3{
  width: 25px;
  height: 30px;
  top: 36%;
  left: 57%;
}
div.features h4.oui .oui2{
  width: 30px;
  height: 30px;
  top: 37%;
  left: 57%;
}

div.features h4.oui .oui3{
  width: 30px;
  height: 30px;
  top: 37%;
  left: 57%;
}

div.features h4.oui .oui4{
  width: 30px;
  height: 30px;
  top: 37%;
  left: 57%;
}

div.features h4.oui .oui5{
  width: 30px;
  height: 30px;
  top: 37%;
  left: 57%;
} */

/*Trigger Button*/

.navbar.fixed-right{
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:0;
  padding-top: 6em;
  padding-bottom: 8em;
}
@media (min-width:768px){
    .navbar.fixed-right{bottom:0;
      width:232px;
      flex-flow:column nowrap;
      align-items:flex-start;
      border-left:.01em solid #012B05;
    }
    .navbar.fixed-right .navbar-collapse{
      flex-grow:0;
      flex-direction:column;
      width:100%
    }
    .navbar.fixed-right .navbar-collapse .navbar-nav{
      flex-direction:column;
      width:100%
    }
    .navbar.fixed-right .navbar-collapse .navbar-nav .nav-item{
      width:100%
    }
    .navbar.fixed-right .navbar-collapse .navbar-nav .nav-item .dropdown-menu{
      top:0
    }
  }
    @media {
      .navbar.fixed-right{
        left:auto; 
        width: 35%;
        margin-bottom: 20%;
      }
    .navbar.fixed-right .navbar-nav .nav-item .dropdown-toggle:after{
      border-top:.3em solid transparent;
      border-left:none;
      border-bottom:.3em solid transparent;
      border-right:.3em solid;
      vertical-align:baseline
    }
    .navbar.fixed-right .navbar-nav .nav-item .dropdown-menu{
      left:auto;right:100%
    }
  }
.login-trigger {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  /* border-radius: 30px; */
  position: relative;
  top: 50%;
  /* background-color: green; */
  text-align: center;
  margin-top: 2vh;
}

.liste_roles {
  margin-top: 13vh;
}

.noir{
  color:black;
}

li.element_role {
  list-style: none;
  margin-left: 5vh;
  margin-top: 3vh;
}

/*Modal*/
h4 {
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.close {
  color: #ffffff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,#7bf88c,#95b055);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: rgb(160, 160, 160);
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
.tohide{
  display:none;
}
.drop1{
  margin-right: 1%;
}
.drop1>*{
  background: #0e2902;
  border:none;
  font-size: 130%;
}