.haut{
    padding-top: 5vh;
    margin-top: 9vh; 
    height: 20vh;
    padding-left: 30%;
}

.mid{
    margin-top: 1vh; 
    height: 50vh;
}



div.mid tab{
    border: 1px solid black;
    padding-top: 10vh;
}

.tab tr,td{
    border: 1px solid gray;
    padding: 0.8em;
}

section.tableau {
    padding-top: 3%;
    padding-left: 17%;
}

.onoff {
    margin-top: 10vh;
    height: 70vh;
    padding-left: 6em;
    padding-top: 9vh;
    }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5%;
    margin-top: 5%;
}
.switch2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5%;
    margin-top: 8%;
}


.test{
    margin-left: 20%;
}

.test2{
    margin-left: 20%;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}